body {
    margin: 0 auto;
}

main{
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 50px;
    font-family: Montserrat;
}

header, footer{
    background-color: #6a7b8b;
    color: #ffffff;
    font-family: Montserrat;
    padding: 20px;
}

.wrapper{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

h1{
    margin-bottom: 40px;
}

a{
    color: #5c5b5b;
    text-decoration: none;
}

.button{
	font-family: Montserrat;
	background-color: #6a7b8b;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
	margin: 20px auto 50px auto;
	padding:10px 30px 10px 40px;
	box-shadow: 1px 1px 5px #6a7b8b;
}

.tableButton{
	font-family: Montserrat;
	background-color: #8B6A7B;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	border-radius: 5px;
	margin: 20px auto 50px auto;
	padding:5px 20px 5px 20px;
	box-shadow: 1px 1px 5px #8B6A7B;
}

form{
    width: 40%;
    margin-left: 30%;
}

input, select{
    width: 100%;
    margin: 10px auto 20px auto;
    height: 35px;
	background-color: #c4cad1;
	border: 0;
	/* color: #ffffff; */
    font-size: 16px;
}

.alert{
    background-color: #f08c92;
    width: fit-content;
    padding: 7px;
    border-radius: 2px;
    margin-bottom: 20px;
}

li {
    padding: 10px;
}

table{
    margin-bottom: 50px;
}

td {
    padding: 10px;
    border: 1px solid black;
    width: 200px;
    text-align: center;
}

