<div class="wrapper">
    <% if(message){ %>
        <div class="alert">
            <%=message %>
        </div>
    <% } %>

    <form method="POST" action="/login">
        <label for="email" class="inputLabel">E-mail</label>
        <input type="email" id="email" name="email" required>
        <label for="password" class="inputLabel">Password</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Login" class="button">
    </form>

    <p>No account yet?</p>
    <a href="/signup" class="button">Sign up</a>

</div>