<form method="POST" action="/schedules/new">
    <p class="inputLabel" id="userIDLabel">User ID *</p>
    <input type="number" id="userIDInput" name="user_id" required>
    <p class="inputLabel" id="dayLabel">Day of week *</p>
    <input type="number" id="dayInput" name="day" required>
    <p class="inputLabel" id="startAtLabel">Start at *</p>
    <input type="time" id="startAtInput" name="start_at" required>
    <p class="inputLabel" id="endAtLabel">End at *</p>
    <input type="time" id="endAtInput" name="end_at" required><br>
    <input type="submit" value="Submit" class="button">
</form>