<form method="POST" action="/users/new">
    <p class="inputLabel" id="nameLabel">First name *</p>
    <input type="text" id="nameInput" name="firstname" required>
    <p class="inputLabel" id="surnameLabel">Last name *</p>
    <input type="text" id="surnameInput" name="lastname" required>
    <p class="inputLabel" id="mailLabel">E-mail *</p>
    <input type="email" id="mailInput" name="email" required>
    <p class="inputLabel" id="messageLabel">Password *</p>
    <input type="password" id="messageInput" name="password" required>
    <input type="submit" value="Submit" class="button">
</form>