<h2>Users</h2>
<h4>Click user to see details</h4>
<ul>
    <% for(let i=0;i<users.length;i++){ %>
      <li>
          <a href="/users/<%=i%>">
              <%=users[i].firstname%> <%=users[i].lastname%>
          </a>
      </li>
    <% } %>
  </ul>
  <a href="/users/new" class="button">Add new user</a>